
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');


	h2 {
		font-family: "Mitr", sans-serif;
		font-weight: 600;
		/* Light */
		text-align: center;
		color: #0b40d1;
		
	}

	

	h3,
	h4 {
		font-family: "Mitr", sans-serif;
		font-weight: 500;
		/* Light */
		text-align: center;
		color: #2A3663;

	}

	h5,
	h6 {
		font-family: "Mitr", sans-serif;
		font-weight: 400;
		/* Light */
		text-align: center;
		color: #000000;
		

	}

	body {
  background-image: url("bg4.png");
  
}

.container {
        width: 60%;
        margin: auto;
        background: white;
        padding: 20px;
        box-shadow: 0px 10px 10px rgba(25, 24, 24, 0.96);
        margin-top: 60px;
    }

button {
        font-family: "Merriweather", sans-serif;
        font-weight: 500;
        /* Light */
		background-color: #4f061e;
        color: white;
        border: 40;
        padding: 10px 20px;
        border-radius: 10px 20px;
		box-shadow: 0px 5px 5px rgba(25, 24, 24, 0.96);
        cursor: pointer;
    }

    button:hover {
        background-color: #0f4a16;
    }
	h1 {
  text-shadow: 3px 3px rgba(5, 9, 71, 0.87);
}
    h2 {
  text-shadow: 3px 3px #789DBC;
}

	table {
		font-family: "Mitr", sans-serif;
		font-weight: 400;
		/* Light */
		text-align: center;
		color: #000000;
	th {
		font-family: "Mitr", sans-serif;
		font-weight: 400;
		/* Light */
		text-align: center;
		color: #ffffff;
	}
	th {
  background-color: #1C325B;
    }
  tr {
    background-color: #8cb7c4;
  
